/* General */

@import url(https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,400italic);

@font-face {
	font-family: 'YummyCupcakes';
	src: url('fonts/YummyCupcakes.eot');
	src: local('☺'), url('fonts/YummyCupcakes.woff') format('woff'), url('fonts/YummyCupcakes.ttf') format('truetype'), url('fonts/YummyCupcakes.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

	.body_clase .content-wrapper {
		padding-top: 100px;
		font-family: 'Raleway', Georgia, serif;
		font-weight: 500;
		padding-bottom: 0;
		line-height: 2.5rem;
	}
	.body_clase.edit .content-wrapper {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	body.is_app .content-wrapper,
	body.app:not(.offline-pc) .content-wrapper,
	body.user_demo .content-wrapper {
	    margin-top: 60px;
	}

	.cke_contents  table {
		margin-bottom: 10px;
	}

	.is_app.content_type_clase_cibertec_2020 {
		padding-top: 0px;
	}

	.content_type_clase_cibertec_2020 #actividad {
		margin-bottom: 0px;
		-webkit-transform: none;
		-webkit-transform-style: flat;
	}

	#actividad .carousel-inner .item-container {
		background-image: none;
		margin: 20px auto 30px;
		padding: 0px;
		padding-bottom: 90px;
		position: relative;
	}
	
	#actividad .carousel-inner .item .navigator {
		z-index: 10;
		position: relative;
	}
	.main-navigator {
		padding: 0;
		FONT-VARIANT: JIS04;
		margin-top: 0;
	}

	/* BK-18572 Ajustar estilo en UX */
	#actividad .carousel-inner .item-container.tmpux {
		margin-top: 80px;
	}
	
	/*--*/


	.content_type_clase_cibertec_2020 #actividad .content .header .title h3 span {
		display: block;
		font-size:2.2rem;
		font-weight: 400;
	}
	.content_type_clase_cibertec_2020 #actividad .texto_curso,
	.content_type_clase_cibertec_2020 #actividad .slide_content_type_1 .pregunta .texto_curso {
		font-size: 1.6rem;
	}

	.texto_curso p:last-of-type {
		margin-bottom: 15px;
	}

	#actividad .class_slide {
    	padding: 40px 88px 0px;
	}

	#actividad .class_slide:last-of-type {
	    padding-bottom: 100px;
	}

	#actividad .slide-concatenate .class_slide {
	    padding-bottom: 20px;
	}

	#actividad .slide-concatenate:last-of-type .class_slide {
	    padding-bottom: 100px;
	}

	.content_type_clase_cibertec_2020 .slide_main input {
		color: #555;
		background-color: #fff;
		background-image: none;
		border: 1px solid #ccc;
		border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	}


	.content_type_clase_cibertec_2020 .slide_main input[disabled],
	.content_type_clase_cibertec_2020 .slide_main input[readonly],
	fieldset[disabled] .content_type_clase_cibertec_2020 .slide_main input {
		cursor: not-allowed;
		background-color: #eee;
		opacity: 1;
	}

	.content_type_clase_cibertec_2020 .slide_main input.respuesta_ok {
		border-color: #57e900;
		background: #D1F3BD;
	}

	.content_type_clase_cibertec_2020 .slide_main input.respuesta_ko {
		border-color: #FF3626;
		background: #FFA49D;
	}

	.content_type_clase_cibertec_2020 .slide_main input.solucion {
		border-color: #00BDFF;
		background: #B6ECFF;
	}

	table {
		margin-bottom: 20px;
	}
/**/

/* Navigators */
	.navigator {
		bottom: -20px;
		left: 0;
		position: absolute;
		width: 100%;
		padding: 0px 97px;
	}

	.navigator .title {
		width: calc(100% - 20px);
		font-size: 1.4rem;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		line-height: 4.8rem;
		display: inline-block;
		vertical-align: top;
	}

	.main-navigator {
		padding: 30px 0px 50px;
		width: 100%;
	}

	.navigator .left, .navigator .right {
		width: 50%;
		display: inline-block;
	}

	.navigator .right {
		text-align: right;
	}

	.navigator .slider-control.left,
	.navigator .slider-control.right {
		height: auto;
		width: 100%;
		background-color: transparent;
		border-radius: 0px;
		margin: 0px;
		opacity: 1;
		text-shadow: none;
		color: #878787;
		font-size: 1.4rem;
		position: relative;
		top: auto;
		left: auto;
		cursor: pointer;
	}

	.navigator .slider-control.left:before,
	.navigator .slider-control.right:after {
		font-family: 'FontAwesome';
		position: absolute;
		margin-top: 0;
		background: none;
		color: #003A5D;
		border-radius: 120px;
		width: 48px;
		height: 48px;
		line-height: 4.8rem;
		text-align: center;
		font-size: 4.8rem;
	}

	.navigator .slider-control.left {
		padding-left: 46px;
	}
	.navigator .slider-control.right {
		padding-right: 46px;
		left: 0;
	}
	.navigator .slider-control.left:before {
		content: "\f104";
		left: 0;
		padding-right: 5px;
	}

	.navigator .slider-control.right:after {
		content: "\f105";
		right: 0;
		padding-left: 5px;
	}

	.navigator .slider-control span {
		position: static;
		margin: 0px;
        cursor: pointer;
        color: #003A5D;
	    font-weight: 600;
	}
/**/

/* Navbar */
	.navbar-bottom {
		background: #ffffff;
		display: none;
	}
	.edit .navbar-bottom {
		display: block;
	}

	.slider-indicators {
	    padding-left: 100px;
	    padding-right: 100px;
	}

	.slider-indicators li,
	.edit .slider-indicators li {
		background-color: #f9bfad;
		color: #ffffff;
		opacity: 0.5;
	}

	.slider-indicators .active,
	.slider-indicators li:hover,
	.edit .slider-indicators li.active,
	.edit .slider-indicators .concat.active {
		opacity: 1;
	}
	.edit .slider-indicators .concat.active {
		color: #f9bfad;
	}

/**/

/* Navbar (Breadcums) */
	.content_type_clase_cibertec_2020 .publisher-navbar {
		position: fixed;
		top: 44px;
		background: #ffffff;
		width: 100%;
		left: 0;
		height: 58px;
		box-shadow: rgba(0, 0, 0, 0.3) 0px 0 9px;
	}

	/* BK-18572 Ajustar estilo en UX */
	.content_type_clase_cibertec_2020 .publisher-navbar.tmpux {
		top: 0px;
	}

	.is_app.content_type_clase_cibertec_2020 .publisher-navbar {
		position: sticky;
		top: 0px;
	}

	#top-navigator {
		height: 44px;
		overflow: hidden;
		position: relative;
	}

	#top-navigator.show_left:before {
        background: none;
        display: none;
    }

    #top-navigator.show_right:after {
        background: none;
        display: none;
    }

	.content_type_clase_cibertec_2020 .publisher-navbar .navbar-content {
		max-width: 960px;
		margin: 0 auto;
		padding-left: 90px;
		padding-right: 50px;
	}

	.content_type_clase_cibertec_2020 .logo-publisher {
		display: block;
		content: " ";
	    background-image: url(/useruploads/r/a/123287646/activity_other_imported/logo_442889.png);
	    height: 36px;
	    background-repeat: no-repeat;
	    width: 146px;
	    margin-left: -100px;
	    margin-top: 10px;
	    margin-right: 22px;
	    float: left;
	    background-size: contain;
	}

	.content_type_clase_cibertec_2020 .logo-publisher img {
		height: 36px;
		max-width: 100px;
	}

	.content_type_clase_cibertec_2020 .slider-indicators {
		padding: 0;
		display: inline-block;
		text-align: left;
		position: relative;
		width: 5000px;
		bottom: 0px;
		left: 0px;
		z-index: 0;
		background-color: #ffffff;
	    color: #00599C;
	}

	.content_type_clase_cibertec_2020 .publisher-navbar .dropdown button,
	.content_type_clase_cibertec_2020 .publisher-navbar li {
		border-radius: 5px;
		border: none;
		background-color: transparent;
		color: #ffffff;
		vertical-align: middle;
		margin: 0px 5px;
		text-indent: 0px;
		line-height: 3.5rem;
		font-size: 2.0rem;
		font-weight: 400;
		cursor: pointer;
		background: #003A5D;
		border-radius: 120px;
	}

	.content_type_clase_cibertec_2020 .slider-indicators:after {
		content: '';
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
	}

	.content_type_clase_cibertec_2020 .slider-indicators li {
		width: 14px;
		height: 14px;
		margin: 0 8px 0 0;
		text-align: center;
		opacity: 0.5;
		position: relative;
		float: left;
	}

	.content_type_clase_cibertec_2020 .slider-indicators li span {
		display: none;
	}

	.content_type_clase_cibertec_2020 .slider-indicators li.active,
	.content_type_clase_cibertec_2020 .publisher-navbar li:hover {
		opacity: 1;
	}
	.content_type_clase_cibertec_2020 .publisher-navbar #top-navigator,
	.content_type_clase_cibertec_2020 .publisher-navbar .dropdown {
		float: left;
		margin-top: 10px;
		display: block;

	}
	.content_type_clase_cibertec_2020 .publisher-navbar #top-navigator {
		margin-top: 20px;
		height: 38px;
	}
	.content_type_clase_cibertec_2020 .publisher-navbar .dropdown button {
		width: auto;
		padding: 0px 10px;
	}

	.open > .dropdown-menu {
		display: block;
		max-height: 300px;
		overflow-y: auto;
	}

	.content_type_clase_cibertec_2020 .publisher-navbar .dropdown button {
		display: none;
	}

	.content_type_clase_cibertec_2020 .publisher-navbar .dropdown button:focus {
		outline: none;
	}

	.content_type_clase_cibertec_2020 .publisher-navbar .dropdown li {
		display: list-item;
		width: auto;
		background: none;
	}

	.content_type_clase_cibertec_2020 .publisher-navbar .dropdown li a {
		color: #85b426;
	}

	.content_type_clase_cibertec_2020 .publisher-navbar .dropdown .caret {
		border-color: #878787 transparent transparent transparent;
		margin-left: 6px;

	}
/*--*/

/* INDICE TOC DEL LIBRO*/

	/*índice*/
	#indice .units ul li.active:not(.disabled), 
	body:not(.isTablet) #indice .units ul li:hover:not(.disabled), 
	#indice .units ul li:focus:not(.disabled){
	    background: #002B86;
	    -moz-border-radius: 18px;
	    -webkit-border-radius: 18px;
	    border-radius: 18px;
	    position: relative;
	    padding: 5px 0px;
	}
	#indice .units ul li{
	    padding: 0px;
	    margin-bottom: 10px;
	    -webkit-border-radius: 18px;
	    -moz-border-radius: 18px;
	    border-radius: 18px;
	    -moz-transition: padding 0.2s ease-in-out;
	    -webkit-transition: padding 0.2s ease-in-out;
	    transition: padding 0.2s ease-in-out;
	}
	#indice .units ul li a .title{
	    font-size: 17px;
	    color: #666;
	}
	a:hover, a:active, a:focus{
		color: #002b86 ;
	}
	#indice .unit-content{
		margin-left: 46px;
	}
	#indice .units ul li.disabled, #indice .units ul li.locked{
		background: linear-gradient(135deg, rgba(238,28,37,1) 0%, rgba(203,39,67,1) 6%, rgba(137,51,114,1) 69%, rgba(99,54,137,1) 100%);
	}
	body:not(.isTablet) #indice .units ul li:hover, #indice .units ul li:focus, #indice .units ul li.active{
		background: #81245D;
	}
	#indice .unit-content .header .title {
	    font-family: "YummyCupcakes",cursive;
	    font-size: 25pt;
	    font-weight: bold;
	    margin-top: 10px;
	    margin-right: 20px;
   		width: 92%;
   		-moz-text-shadow: -1px 1px 5px black;
   		-webkit-text-shadow: -1px 1px 5px black;
   		text-shadow: -1px 1px 5px black;
	}
	#indice .units ul li a:not(.delete) {
	    padding: 11px 10px;
	}
	#indice .unit-content .header.default {
    background-image: url(images/Encabezado_Diseno.jpg) !important;
    background-repeat: no-repeat;
	}
/*--*/

/* Pagination */

.js-slide-wrapper > .header .single-pagination {
	display: none;
}

/* Iconos */

#actividad .player.audio {
	background: url(../../../images/shared/multimedia-icons.png);
    background-size: inherit;
    width: 28px;
    height: 28px;
    background-position: -29px -1px;
    vertical-align: middle;
    background-color: #003a5d;
    background-repeat: no-repeat;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    margin: 0 5px;
    vertical-align: sub;
}
#actividad .player.video {
	background: url(images/fancy_video.png) 0 0 no-repeat;
	background-size: contain;
	width: 36px;
	height:24px;
	border-radius: 0
}
#actividad .bck-file-attach img {
	display: none;
}

/*--------------*/


/*HEADER*/
	.content_type_clase_cibertec_2020 #actividad .content .header .title img,
	.content_type_clase_cibertec_2020 #actividad .content .header .chapter {
		display: none;
	}
	#indice .units ul li a .number,
	#indice .unit-content .header .number {
		visibility: hidden;
	}

	.content_type_clase_cibertec_2020 #actividad .content .header {
		background: #002B86;
		margin: 0 -88px 40px;
		padding-left: 150px;
		padding-right: 40px;
		position: relative;
	}
	.content_type_clase_cibertec_2020 #actividad .content .header:before {
		display: none;
	}

	.content_type_clase_cibertec_2020 #actividad .content .header.empty:before {
		content: '';
		display: none!important;
	}
	.content_type_clase_cibertec_2020 #actividad .content .header .title {
		margin-top: -40px;
		padding-top: 30px;
		padding-bottom: 10px;
	}
	.content_type_clase_cibertec_2020 #actividad .content .header .title h3{
		font-family: 'YummyCupcakes', cursive;
	    font-size: 2.8rem;
	    color: #ffffff;
	    display: block;
	    padding: 0 20px 0px 0px;
	    margin-bottom: 12px;
	    margin-top: 0;
	    position: relative;
	    left: -60px;
	}
	.content_type_clase_cibertec_2020 #actividad .content .header .title h3:before {
		display: none;
	}
	.content_type_clase_cibertec_2020 #actividad .content .header .title h3:after {
		display: none;
	}

/*---*/	

/* CKEDITOR */

/*NEGRITA*/
strong {
	color: inherit;	
}
/*ÉNFASIS*/
.bck-enfasis {
	color: #002b86;
}

/*--- TÍTULOS ---*/
.bck-title1,
.bck-title2 {
	font-family: 'YummyCupcakes', cursive;
	font-weight: bold;
	color: white;
	position:relative;
	font-size: 2.1rem;
}

/*Título 1 - Título Izquierda */
	.bck-title1 {
	    padding-bottom: 10px;
	    padding-top: 12px;
	    padding-right: 20px;
	    border-radius: 0 25px 25px 0;
	    margin-bottom: 30px;
	    background-color: #002B86;
	    text-align: left;
	    padding: 8px 20px 6px 7px;
	    position: relative;
	    -moz-box-shadow: rgb(111, 111, 111) 7px 10px 12px -5px;
	    -webkit-box-shadow: rgb(111, 111, 111) 7px 10px 12px -5px;
	    box-shadow: rgb(111, 111, 111) 7px 10px 12px -5px;
	    border-top-right-radius: 8px;
	    -webkit-border-top-right-radius: 8px;
	    -moz-border-top-right-radius: 8px;
	    border-bottom-right-radius: 8px;
	    -webkit-border-bottom-right-radius: 8px;
	    -moz-border-bottom-right-radius: 8px;
	}
	.bck-title1:after {
	    content: "";
	    display: block;
	    position: absolute;
	    top: -1px;
	    left: -31px;
	    background: url(/useruploads/r/a/195601686/activity_other_imported/beforeazuloscuro_03092020.png) 0% 0% / contain no-repeat;
	    padding: 26px;
	    background-repeat: no-repeat;
	}
	.bck-title1:before {
		display: none;
	}

/*Título 2 - Título derecha*/
	.bck-title2 {
		padding-bottom: 10px;
	    padding-top: 12px;
	    padding-right: 20px;
	    margin-bottom: 30px;
	    background-color: #002B86;
	    text-align: right;
	    padding: 8px 20px 6px 20px;
	    position: relative;
	    -moz-box-shadow: rgb(111, 111, 111) 7px 10px 12px -5px;
	    -webkit-box-shadow: rgb(111, 111, 111) 7px 10px 12px -5px;
	    box-shadow: rgb(111, 111, 111) 7px 10px 12px -5px;
	    border-top-left-radius: 8px;
	    -webkit-border-top-left-radius: 8px;
	    -moz-border-top-left-radius: 8px;
	    border-bottom-left-radius: 8px;
	    -webkit-border-bottom-left-radius: 8px;
	    -moz-border-bottom-left-radius: 8px;
	}
	.bck-title2:after {
		content: "";
	    display: block;
	    position: absolute;
	    top: -1px;
	    right: -46px;
	    background: url(/useruploads/r/a/195607550/activity_other_imported/afterazuloscuro_03092020.png) 0% 0% / contain no-repeat;
	    padding: 26px;
	    background-repeat: no-repeat;
	}
	.bck-title2:before {
		content: none;
	}
/*--*/

/*----- CAJAS -----*/
	/*CAJA 1*/
	.bck-box.box-1 {
		font-family: inherit;
	    color: rgb(65, 65, 65);
	    box-shadow: rgb(117, 174, 220) -6px 7px 0px 0px;
	    margin-top: 15px;
	    margin-bottom: 20px;
	    background: rgb(190, 212, 237);
	    border-radius: 10px;
	    padding: 0px;
	}
	.bck-box.box-1:before {
		display: none;
	}
	.bck-box.box-1:after {
		display: none;
	}
/*--*/

/*--------------------------------------------------------------------------*/

	/*---- FLIPBOX ----*/
	body:not(.edit) .bck-flipbox-face.front{
		color: rgb(199,203,231);
	    border: 6px solid rgb(199,203,231);
	    -moz-border-radius: 13px;
	    -webkit-border-radius: 13px;
	    border-radius: 13px;
	    background-color: #fff;
	    position: relative;
	    top: 0;
	    left: 0;
	    z-index: 1;
	    left: 0px;
	}
	body:not(.edit) .front .bck-flipbox-title, body:not(.edit) .front .bck-flipbox-section{
		color: rgb(199,203,231);
	    font-weight: bold;
	    font-size: 2rem;
	    top: 30%;
	    position: relative;
	}
	body:not(.edit) .bck-flipbox-face.back{
		color: #fff;
	    background-color: #c7cbe71f;
	    border: 6px solid rgb(199,203,231);
	    -moz-border-radius: 13px;
	    -webkit-border-radius: 13px;
	    border-radius: 13px;
	    position: absolute;
	    top: 0;
	    z-index: 0;
	    left: 0px;
	}
	body:not(.edit) .back .bck-flipbox-title,
	 body:not(.edit) .back .bck-flipbox-section {
    	color: #c7cbe7;
    	font-size: 2rem;
	}

/*----- LISTAS ORDENADAS -------*/
	.content ol, .cke_contents ol {
	    list-style: none;
	    padding: 0;
	    margin: 0 0 10px 0;
	}
	.content ol li, .cke_contents ol li{
		color: #414141;
	        margin-bottom: 10px;
	}
	.content ol li:before,
	 .cke_contents ol li:before{
	    content: counter(bck-li-counter)'. ';
    position: absolute;
    margin-left: -30px;
    font-weight: bold;
    font-size: 2.0rem;
    text-align: right;
    color: #002F83;
    margin-top: 0px;
	}
	/*Ajuste lista en modo editar*/
	.cke_contents ol li {
    margin-left: 32px;
    counter-increment: bck-li-counter;
	}

/*----- Lista ordenada 2 ------*/
	.content ol.bck-ol-2 li,
	 .content .texto_curso ol.bck-ol-2 li,
	 .content .workspace ul li ol.bck-ol-2 li {
	    padding-left: 63px;
	}

	 .content ol.bck-ol-2 li:before,
	 .content .texto_curso ol.bck-ol-2 li:before,
	 .content .workspace ul li ol.bck-ol-2 li:before {
	    content: counter(bck-li-counter, lower-alpha)'. ';
	    position: absolute;
	    margin-left: -30px;
	    font-weight: 400;
	    font-size: 1.6rem;
	    text-align: right;
	    color: #333;
	    margin-top: -2px;
	}

/*----- LISTA DESORDENADA -----*/
	.texto_curso ul li, .workspace ul li ul li, .cke_contents ul li {
	    position: relative;
	    padding-left: 50px;
	    margin-bottom: 10px;
	}

	.texto_curso ul li:before, 
	.workspace ul li ul li:before, 
	.cke_contents ul li:before{
	    background-color: #333;
	    height: 6px;
	    width: 6px;
	    margin-top: 10px;
	    margin-left: -16px;
	    border: 0;
	}

/*POPUP Y POPOVER*/
	.info-template.shown {
		background: white;
	}
	.info-template .info-title {
		color: #003a5d;
	}
	.info-template .info-title.shown {
		font-weight: bold;
	}
	.info-template .info-icon {
		color: #003a5d;
	}
	.info-popover .popover-title:before,
	 .popover-template .popover-title:before{
	     color: #003a5d;	
	}
	.info-popover .popover-title,
	 .popover-template .popover-title {
	    color: #003a5d;
	    font-weight: bold;
	}
	#actividad .info-button {
		color: #003a5d;
	}
/*---*/



/*---- IMÁGENES (Border radius para imágenes) ----*/
	#actividad .content img{
	   vertical-align: top;
	   border-radius: 10px;
	   
	}

/**/

/*------------------------------*/
/*------------ BOTONERA ------------*/
    .btn-danger, .btn-danger[disabled] {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #fc4237;
    color: #fc4237;
    background: white;
    font-weight: 700;
    }
    .btn-primary, .btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #002B86;
    color: #002B86;
    background: white;
    font-weight: 700;
    }
    .btn-primary:not([disabled]):hover, .btn-primary:not([disabled]):focus, .btn-primary:not([disabled]):active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #002B86;
    border-color: #002B86;
    color: white
    }
    #actividad .content .review .attemps span {
    background-color: #002B86;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    }
    .btn-primary[disabled], .btn-primary[disabled]:focus {
    color: #428bca;
    background-color: #ffffff;
    border-color: #428bca;
    }
    .btn-solution, .btn-solution.disabled,
    .btn-solution[disabled], .btn-next, .btn-next.disabled,
    .btn-next[disabled] {
    color: #00bdff;
    background-color: white;
    border-color: #00bdff;
    border: 2px solid #00bdff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-weight: 700;
    }
    .btn-solution:hover,
    .btn-solution:focus,
    .btn-solution:active,
    .btn-next:hover, .btn-next:focus,
    .btn-next:active,
    .open .dropdown-toggle.btn-solution {
    color: #fff;
    background-color: #00bdff;
    border-color: transparent;
    }
 /*---*/
/*-------------------------------*/
/*-------- ACTIVIDADES ----------*/
/*--------------------------------*/
#actividad .box p {
   font-size: 1.6rem;
}

/* MEMORIA */
	#actividad .workspace.memory .front {
	    z-index: 2;
	    width: 120px;
	    height: 140px;
	    margin: 10px;
	    border-radius: 10px;
	    border: 2px solid #d8d8d8;
	    background: #fff url(/useruploads/r/a/196266186/activity_other_imported/logo_442889_cibertec_imagotipo.png) center center / 50px auto no-repeat;
	    transition: all .5s ease;
	}

	#actividad .workspace.memory .opcion img {
	    margin: auto !important;
	}

/*FORMULARIOS*/
.shortanswer-container textarea:focus,
 .shortanswer-container input:focus,
  .shortanswer-container .preview:focus {
  	-webkit-box-shadow: 0 0 2px #002B86;
    -moz-box-shadow: 0 0 2px #002B86;
    box-shadow: 0 0 2px #002B86;
    border-color: #002B86;
}
.content_type_clase_cibertec_2020 .slide_main input:focus {
	border-top-color: #002B86;
    border-right-color: #002B86;
    border-bottom-color: #002B86;
    border-left-color: #002B86;
    outline-width: 0px;
    outline-style: none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px #002B86;
}
.form-control:focus, .form-control:focus-within {
    border-top-color: #002b86;
    border-right-color: #002b86;
    border-bottom-color: #002b86;
    border-left-color: #002b86;
    border-width: 2px;
    outline-width: 0;
    outline-style: none;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset, 0 0 8px #002b86;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset, 0 0 8px #002b86;
    box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset, 0 0 8px #002b86;
}

/* RELACIONAR */
	#actividad .workspace.matching .opcion {
	    overflow: hidden;
	    min-height: 2.5em;
	    -webkit-border-radius: 4px;
	    -moz-border-radius: 4px;
	    border-radius: 4px;
	    border: 1px solid #d8d8d8;
	    margin: 2px 0;
	    padding: 5px;
	    width: 100%;
	    float: left;
	    background: #fff;
	}

/* IMAGEN SOBRE IMAGEN */
	#actividad .image-over-image .drag_image-over-image li {
		    height: 120px;
		    margin-bottom: 20px;
		    margin: auto;
		    float: left;
		    width: 25%;
		    min-height: 33px;
		    position: relative;
		    text-align: center;
		    margin-right: 20px;
	}

/*Insertar archivo*/
	.bck-file-attach span{
	    vertical-align: middle;
	    box-shadow: 0;
	    margin: 0;
	    padding: 0;
	}
	.bck-sub-label, .bck-file-label{
		background: transparent;
	        color: #002F83;
	        border-bottom: 2px solid #002F83;
	        font-weight: bold;
	        border-radius: 0;
	}

/*Deplegable*/
	.fa-chevron-down:before{
		content: "\f0c6";
	    font-size: 4rem;
	    color: #f5ac36;
	}
	.bck-dropdown-icon>.fa{
		    display: inline-block;
	    border: 0;
	    padding: 0;
	    width: 100%;
	    height: 100%;
	    text-align: center;
	}
	.bck-dropdown-titulo{
		display: inline-block;
	    vertical-align: super;
	    font-size: 2.5rem;
	    padding-left: 10px;
	    color: #f5ac36;
	}
	.fa-chevron-up:before{
		content: "\f0c6";
	    font-size: 4rem;
	    color: #f5ac36;
	}
	.bck-dropdown-content{
		background-color: #d7dbf9;
	}
	.bck-dropdown-button {
	    cursor: pointer;
	}
/*--*/

/*---- COURSETAGS ----*/
/*-- coursetag_gestioninnovacion--*/
.coursetag_gestioninnovacion #indice .units ul li.active:not(.disabled), 
body:not(.isTablet).coursetag_gestioninnovacion #indice .units ul li:hover:not(.disabled), 
.coursetag_gestioninnovacion #indice #indice .units ul li:focus:not(.disabled){
	background: #87AA60;
}
.coursetag_gestioninnovacion #indice .unit-content .header.default {
    background-image: url(images/Encabezado_Gestion.jpg) !important;
}
.coursetag_gestioninnovacion #indice .unit-content .header .title {
	margin-top: 12px;
}
.coursetag_gestioninnovacion.content_type_clase_cibertec_2020 #actividad .content .header{
	background: #87AA60
}
.coursetag_gestioninnovacion .bck-enfasis {
	color: #87AA60;
}
.coursetag_gestioninnovacion .bck-title1 {
	background-color: #87AA60;
}
.coursetag_gestioninnovacion .bck-title1:after {
	background: url(images/Bocadillo-Derecho_Negro.png) 0% 0% / contain no-repeat;
    -webkit-filter: invert(60%) sepia(57%) saturate(291%) hue-rotate(46deg) brightness(94%) contrast(88%);
    filter: invert(60%) sepia(57%) saturate(291%) hue-rotate(46deg) brightness(94%) contrast(88%);
}
.coursetag_gestioninnovacion .bck-title2 {
	background-color: #87AA60;
}
.coursetag_gestioninnovacion .bck-title2:after {
	background: url(images/Bocadillo-Izquierdo-Negro.png) 0% 0% / contain no-repeat;
    -webkit-filter: invert(60%) sepia(57%) saturate(291%) hue-rotate(46deg) brightness(94%) contrast(88%);
    filter: invert(60%) sepia(57%) saturate(291%) hue-rotate(46deg) brightness(94%) contrast(88%);
}
.coursetag_gestioninnovacion .bck-box.box-1 {
	box-shadow:	#667C1E -6px 7px 0px 0px;
	background: #DBDDC6;
}
.coursetag_gestioninnovacion .btn-primary,
 .coursetag_gestioninnovacion .btn-primary.disabled,
  .coursetag_gestioninnovacion .btn-primary.disabled:hover,
   .coursetag_gestioninnovacion .btn-primary.disabled:focus {
    border: 2px solid #87AA60;
    color: #87AA60;
}
.coursetag_gestioninnovacion .btn-primary:not([disabled]):hover,
 .coursetag_gestioninnovacion .btn-primary:not([disabled]):focus,
  .coursetag_gestioninnovacion .btn-primary:not([disabled]):active,
   .coursetag_gestioninnovacion .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #87AA60;
    border-color: #87AA60;
}
.coursetag_gestioninnovacion #actividad .content .review .attemps span {
    background-color: #87AA60;
}
.coursetag_gestioninnovacion .shortanswer-container textarea:focus,
 .coursetag_gestioninnovacion .shortanswer-container input:focus,
  .coursetag_gestioninnovacion .shortanswer-container .preview:focus {
  	-webkit-box-shadow: 0 0 2px #87AA60;
    -moz-box-shadow: 0 0 2px #87AA60;
    box-shadow: 0 0 2px #87AA60;
    border-color: #87AA60;
}
.content_type_clase_cibertec_2020.coursetag_gestioninnovacion  .slide_main input:focus {
	border-top-color: #87AA60;
    border-right-color: #87AA60;
    border-bottom-color: #87AA60;
    border-left-color: #87AA60;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px #87AA60;
}
.coursetag_gestioninnovacion .form-control:focus,
 .coursetag_gestioninnovacion .form-control:focus-within {
    border-top-color: #87AA60;
    border-right-color: #87AA60;
    border-bottom-color: #87AA60;
    border-left-color: #87AA60;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset, 0 0 8px #87AA60;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset, 0 0 8px #87AA60;
    box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset, 0 0 8px #87AA60;
}
.coursetag_gestioninnovacion a:hover,
 .coursetag_gestioninnovacion a:active,
  .coursetag_gestioninnovacion a:focus{
	color: #87AA60 ;
}
.coursetag_gestioninnovacion .content ol li:before,
 .coursetag_gestioninnovacion .cke_contents ol li:before {
 	color: #87AA60;
 }
.coursetag_gestioninnovacion #actividad .info-button {
	color: #87AA60;
}
.coursetag_gestioninnovacion .info-template .info-icon {
    color: #87AA60;
}
.coursetag_gestioninnovacion .info-template .info-title {
    color: #87AA60;
}
.coursetag_gestioninnovacion .info-popover .popover-title,
 .coursetag_gestioninnovacion .popover-template .popover-title {
    color: #87AA60;
}
.coursetag_gestioninnovacion .bck-sub-label,
 .coursetag_gestioninnovacion .bck-file-label{
	color: #87AA60;
	border-bottom: 2px solid #87AA60;
}
.coursetag_gestioninnovacion .info-popover .popover-title:before,
 .coursetag_gestioninnovacion .popover-template .popover-title:before {
    color: #87AA60;
}
/*---*/
/*----- coursetag_robotica ------ */
.coursetag_robotica #indice .units ul li.active:not(.disabled), 
body:not(.isTablet).coursetag_robotica #indice .units ul li:hover:not(.disabled), 
.coursetag_robotica #indice #indice .units ul li:focus:not(.disabled){
	background: #D03C2F;
}
.coursetag_robotica #indice .unit-content .header.default {
    background-image: url(images/Encacbezad_Robotica.jpg) !important;
}
.coursetag_robotica #indice .unit-content .header .title {
	font-family: "YummyCupcakes",cursive;
	font-size: 25pt;
	font-weight: bold;
	margin-top: 30px;
}
.coursetag_robotica.content_type_clase_cibertec_2020 #actividad .content .header{
	padding-left: 150px;
	padding-right: 40px;
	position: relative;
	margin: 0 -88px 20px;
	background: #D03C2F
}
.coursetag_robotica .bck-enfasis {
	color: #D03C2F;
}
.coursetag_robotica .bck-title1 {
	background-color: #D03C2F;
}
.coursetag_robotica .bck-title1:after {
	background: url(images/Bocadillo-Derecho_Negro.png) 0% 0% / contain no-repeat;
	-webkit-filter: invert(27%) sepia(63%) saturate(2150%) hue-rotate(341deg) brightness(95%) contrast(92%);
	filter: invert(27%) sepia(63%) saturate(2150%) hue-rotate(341deg) brightness(95%) contrast(92%);
}
.coursetag_robotica .bck-title2 {
	background-color: #D03C2F;
}
.coursetag_robotica .bck-title2:after {
	background: url(images/Bocadillo-Izquierdo-Negro.png) 0% 0% / contain no-repeat;
	-webkit-filter: invert(27%) sepia(63%) saturate(2150%) hue-rotate(341deg) brightness(95%) contrast(92%);
	filter: invert(27%) sepia(63%) saturate(2150%) hue-rotate(341deg) brightness(95%) contrast(92%);
}
.coursetag_robotica .bck-box.box-1 {
	-webkit-box-shadow:	#F3A425 -6px 7px 0px 0px;
	-moz-box-shadow:	#F3A425 -6px 7px 0px 0px;
	box-shadow:	#F3A425 -6px 7px 0px 0px;
	background: #F9D9AA;
}
.coursetag_robotica .btn-primary,
 .coursetag_robotica .btn-primary.disabled,
  .coursetag_robotica .btn-primary.disabled:hover,
   .coursetag_robotica .btn-primary.disabled:focus {
    border: 2px solid #D03C2F;
    color: #D03C2F;
}
.coursetag_robotica .btn-primary:not([disabled]):hover,
 .coursetag_robotica .btn-primary:not([disabled]):focus,
  .coursetag_robotica .btn-primary:not([disabled]):active,
   .coursetag_robotica .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #D03C2F;
    border-color: #D03C2F;
}
.coursetag_robotica #actividad .content .review .attemps span {
    background-color: #D03C2F;
}
.coursetag_robotica .shortanswer-container textarea:focus,
 .coursetag_robotica .shortanswer-container input:focus,
  .coursetag_robotica .shortanswer-container .preview:focus {
  	-webkit-box-shadow: 0 0 2px #D03C2F;
    -moz-box-shadow: 0 0 2px #D03C2F;
    box-shadow: 0 0 2px #D03C2F;
    border-color: #D03C2F;
}
.content_type_clase_cibertec_2020.coursetag_robotica  .slide_main input:focus {
	border-top-color: #D03C2F;
    border-right-color: #D03C2F;
    border-bottom-color: #D03C2F;
    border-left-color: #D03C2F;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px #D03C2F;
}
.coursetag_robotica .form-control:focus,
 .coursetag_robotica .form-control:focus-within {
    border-top-color: #D03C2F;
    border-right-color: #D03C2F;
    border-bottom-color: #D03C2F;
    border-left-color: #D03C2F;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset, 0 0 8px #D03C2F;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset, 0 0 8px #D03C2F;
    box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset, 0 0 8px #D03C2F;
}
.coursetag_robotica a:hover,
 .coursetag_robotica a:active,
  .coursetag_robotica a:focus{
		color: #D03C2F ;
}
.coursetag_robotica .content ol li:before,
 .coursetag_robotica .cke_contents ol li:before {
 	color: #D03C2F;
}
.coursetag_robotica #actividad .info-button {
	color: #D03C2F;
}
.coursetag_robotica .info-template .info-icon {
    color: #D03C2F;
}
.coursetag_robotica .info-template .info-title {
    color: #D03C2F;
}
.coursetag_robotica .info-popover .popover-title,
 .coursetag_robotica .popover-template .popover-title {
    color: #D03C2F;
}
.coursetag_robotica .bck-sub-label,
 .coursetag_robotica .bck-file-label{
	color: #D03C2F;
	border-bottom: 2px solid #D03C2F;
}
.coursetag_robotica .info-popover .popover-title:before,
 .coursetag_robotica .popover-template .popover-title:before {
    color: #D03C2F;
}
/*---*/
/*--- coursetag_tic ---*/
.coursetag_tic #indice .units ul li.active:not(.disabled), 
body:not(.isTablet).coursetag_tic #indice .units ul li:hover:not(.disabled), 
.coursetag_tic #indice #indice .units ul li:focus:not(.disabled){
	background: #00A9D1;
}
.coursetag_tic #indice .unit-content .header.default {
    background-image: url(images/Encabezado_TIC.jpg) !important;
}
.coursetag_tic #indice .unit-content .header .title {
	margin-top: 10px;
}
.coursetag_tic.content_type_clase_cibertec_2020 #actividad .content .header{
	padding-left: 150px;
	padding-right: 40px;
	position: relative;
	margin: 0 -88px 20px;
	background: #00A9D1
}
.coursetag_tic .bck-enfasis {
	color: #00A9D1;
}
.coursetag_tic .bck-title1 {
	background-color: #00A9D1;
}
.coursetag_tic .bck-title1:after {
	background: url(images/Bocadillo-Derecho_Negro.png) 0% 0% / contain no-repeat;
	filter:invert(75%) sepia(57%) saturate(6338%) hue-rotate(154deg) brightness(90%) contrast(101%);
	-webkit-filter:invert(75%) sepia(57%) saturate(6338%) hue-rotate(154deg) brightness(90%) contrast(101%);
}
.coursetag_tic .bck-title2 {
	background-color: #00A9D1;
}
.coursetag_tic .bck-title2:after {
	background: url(images/Bocadillo-Izquierdo-Negro.png) 0% 0% / contain no-repeat;
	-webkit-filter:invert(75%) sepia(57%) saturate(6338%) hue-rotate(154deg) brightness(90%) contrast(101%);
	filter:invert(75%) sepia(57%) saturate(6338%) hue-rotate(154deg) brightness(90%) contrast(101%);
}
.coursetag_tic .bck-box.box-1 {
	-webkit-box-shadow:	#43B4B1 -6px 7px 0px 0px;
	-moz-box-shadow:	#43B4B1 -6px 7px 0px 0px;
	box-shadow:	#43B4B1 -6px 7px 0px 0px;
	background: #B8E0E9;
}
.coursetag_tic .btn-primary,
 .coursetag_tic .btn-primary.disabled,
  .coursetag_tic .btn-primary.disabled:hover,
   .coursetag_tic .btn-primary.disabled:focus {
    border: 2px solid #00A9D1;
    color: #00A9D1;
}
.coursetag_tic .btn-primary:not([disabled]):hover,
 .coursetag_tic .btn-primary:not([disabled]):focus,
  .coursetag_tic .btn-primary:not([disabled]):active,
   .coursetag_tic .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #00A9D1;
    border-color: #00A9D1;
}
.coursetag_tic #actividad .content .review .attemps span {
    background-color: #00A9D1;
}
.coursetag_tic .shortanswer-container textarea:focus,
 .coursetag_tic .shortanswer-container input:focus,
  .coursetag_tic .shortanswer-container .preview:focus {
  	-webkit-box-shadow: 0 0 2px #00A9D1;
    -moz-box-shadow: 0 0 2px #00A9D1;
    box-shadow: 0 0 2px #00A9D1;
    border-color: #00A9D1;
}
.content_type_clase_cibertec_2020.coursetag_tic  .slide_main input:focus {
	border-top-color: #00A9D1;
    border-right-color: #00A9D1;
    border-bottom-color: #00A9D1;
    border-left-color: #00A9D1;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px #00A9D1;
}
.coursetag_tic .form-control:focus,
 .coursetag_tic .form-control:focus-within {
    border-top-color: #00A9D1;
    border-right-color: #00A9D1;
    border-bottom-color: #00A9D1;
    border-left-color: #00A9D1;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset, 0 0 8px #00A9D1;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset, 0 0 8px #00A9D1;
    box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset, 0 0 8px #00A9D1;
}
.coursetag_tic a:hover,
 .coursetag_tic a:active,
  .coursetag_tic a:focus{
		color: #00A9D1 ;
}
.coursetag_tic .content ol li:before,
 .coursetag_tic .cke_contents ol li:before {
 	color: #00A9D1;
}
.coursetag_tic #actividad .info-button {
	color: #00A9D1;
}
.coursetag_tic .info-template .info-icon {
    color: #00A9D1;
}
.coursetag_tic .info-template .info-title {
    color: #00A9D1;
}
.coursetag_tic .info-popover .popover-title,
 .coursetag_tic .popover-template .popover-title {
    color: #00A9D1;
}
.coursetag_tic .bck-sub-label,
 .coursetag_tic .bck-file-label{
	color: #00A9D1;
	border-bottom: 2px solid #00A9D1;
}
.coursetag_tic .info-popover .popover-title:before,
 .coursetag_tic .popover-template .popover-title:before {
    color: #00A9D1;
}
/*---*/
/*-- coursetag_web --*/
.coursetag_web #indice .units ul li.active:not(.disabled), 
body:not(.isTablet).coursetag_web #indice .units ul li:hover:not(.disabled), 
.coursetag_web #indice #indice .units ul li:focus:not(.disabled){
	background: #F19800;
}
.coursetag_web #indice .unit-content .header.default {
    background-image: url(images/Encabezado_Linea_Web.jpg) !important;
}
.coursetag_web #indice .unit-content .header .title {
	margin-top: 10px;
}
.coursetag_web.content_type_clase_cibertec_2020 #actividad .content .header{
	padding-left: 150px;
	padding-right: 40px;
	position: relative;
	margin: 0 -88px 20px;
	background: #F19800
}
.coursetag_web .bck-enfasis {
	color: #F19800;
}
.coursetag_web .bck-title1 {
	background-color: #F19800;
}
.coursetag_web .bck-title1:after {
	background: url(images/Bocadillo-Derecho_Negro.png) 0% 0% / contain no-repeat;
	filter: invert(63%) sepia(15%) saturate(3831%) hue-rotate(3deg) brightness(97%) contrast(102%);
	-webkit-filter: invert(63%) sepia(15%) saturate(3831%) hue-rotate(3deg) brightness(97%) contrast(102%);
}
.coursetag_web .bck-title2 {
	background-color: #F19800;
}
.coursetag_web .bck-title2:after {
	background: url(images/Bocadillo-Izquierdo-Negro.png) 0% 0% / contain no-repeat;
	filter: invert(63%) sepia(15%) saturate(3831%) hue-rotate(3deg) brightness(97%) contrast(102%);
	-webkit-filter: invert(63%) sepia(15%) saturate(3831%) hue-rotate(3deg) brightness(97%) contrast(102%);
}
.coursetag_web .bck-box.box-1 {
	-webkit-box-shadow:	#E59B23 -6px 7px 0px 0px;
	-moz-box-shadow:	#E59B23 -6px 7px 0px 0px;
	box-shadow:	#E59B23 -6px 7px 0px 0px;
	background: #F9D9AA;
}
.coursetag_web .btn-primary,
 .coursetag_web .btn-primary.disabled,
  .coursetag_web .btn-primary.disabled:hover,
   .coursetag_web .btn-primary.disabled:focus {
    border: 2px solid #F19800;
    color: #F19800;
}
.coursetag_web .btn-primary:not([disabled]):hover,
 .coursetag_web .btn-primary:not([disabled]):focus,
  .coursetag_web .btn-primary:not([disabled]):active,
   .coursetag_web .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #F19800;
    border-color: #F19800;
}
.coursetag_web #actividad .content .review .attemps span {
    background-color: #F19800;
}
.coursetag_web .shortanswer-container textarea:focus,
 .coursetag_web .shortanswer-container input:focus,
  .coursetag_web .shortanswer-container .preview:focus {
  	-webkit-box-shadow: 0 0 2px #F19800;
    -moz-box-shadow: 0 0 2px #F19800;
    box-shadow: 0 0 2px #F19800;
    border-color: #F19800;
}
.content_type_clase_cibertec_2020.coursetag_web .slide_main input:focus {
	border-top-color: #F19800;
    border-right-color: #F19800;
    border-bottom-color: #F19800;
    border-left-color: #F19800;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px #F19800;
}
.coursetag_web .form-control:focus,
 .coursetag_web .form-control:focus-within {
    border-top-color: #F19800;
    border-right-color: #F19800;
    border-bottom-color: #F19800;
    border-left-color: #F19800;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset, 0 0 8px #F19800;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset, 0 0 8px #F19800;
    box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset, 0 0 8px #F19800;
}
.coursetag_web a:hover,
 .coursetag_web a:active,
  .coursetag_web a:focus{
		color: #F19800 ;
}
.coursetag_web .content ol li:before,
 .coursetag_web .cke_contents ol li:before {
 	color: #F19800;
}
.coursetag_web #actividad .info-button {
	color: #F19800;
}
.coursetag_web .info-template .info-icon {
    color: #F19800;
}
.coursetag_web .info-template .info-title {
    color: #F19800;
}
.coursetag_web .info-popover .popover-title,
 .coursetag_web .popover-template .popover-title {
    color: #F19800;
}
.coursetag_web .bck-sub-label,
 .coursetag_web .bck-file-label{
	color: #F19800;
	border-bottom: 2px solid #F19800;
}
.coursetag_web .info-popover .popover-title:before,
 .coursetag_web .popover-template .popover-title:before {
    color: #F19800;
}
/*---*/
/*--- coursetag_programacionvisual ---*/
.coursetag_programacionvisual #indice .units ul li.active:not(.disabled), 
body:not(.isTablet).coursetag_programacionvisual #indice .units ul li:hover:not(.disabled), 
.coursetag_programacionvisual #indice #indice .units ul li:focus:not(.disabled){
	background: #AA6CA4;
}
.coursetag_programacionvisual #indice .unit-content .header.default {
    background-image: url(images/Encabezado_Programacion.jpg) !important;
}
.coursetag_programacionvisual #indice .unit-content .header .title {
	margin-top: 4px;
	margin-left: 47px
}
.coursetag_programacionvisual.content_type_clase_cibertec_2020 #actividad .content .header{
	padding-left: 150px;
	padding-right: 40px;
	position: relative;
	margin: 0 -88px 20px;
	background: #AA6CA4
}
.coursetag_programacionvisual .bck-enfasis {
	color: #AA6CA4;
}
.coursetag_programacionvisual .bck-title1 {
	background-color: #AA6CA4;
}
.coursetag_programacionvisual .bck-title1:after {
	background: url(images/Bocadillo-Derecho_Negro.png) 0% 0% / contain no-repeat;
	filter: invert(49%) sepia(30%) saturate(620%) hue-rotate(255deg) brightness(95%) contrast(88%);
	-webkit-filter: invert(49%) sepia(30%) saturate(620%) hue-rotate(255deg) brightness(95%) contrast(88%);
}
.coursetag_programacionvisual .bck-title2 {
	background-color: #AA6CA4;
}
.coursetag_programacionvisual .bck-title2:after {
	background: url(images/Bocadillo-Izquierdo-Negro.png) 0% 0% / contain no-repeat;
	filter: invert(49%) sepia(30%) saturate(620%) hue-rotate(255deg) brightness(95%) contrast(88%);
	-webkit-filter: invert(49%) sepia(30%) saturate(620%) hue-rotate(255deg) brightness(95%) contrast(88%);
}
.coursetag_programacionvisual .bck-box.box-1 {
	-webkit-box-shadow:	#B791BF -6px 7px 0px 0px;
	-moz-box-shadow:	#B791BF -6px 7px 0px 0px;
	box-shadow:	#B791BF -6px 7px 0px 0px;
	background: #E1CAE2;
}
.coursetag_programacionvisual .btn-primary,
 .coursetag_programacionvisual .btn-primary.disabled,
  .coursetag_programacionvisual .btn-primary.disabled:hover,
   .coursetag_programacionvisual .btn-primary.disabled:focus {
    border: 2px solid #AA6CA4;
    color: #AA6CA4;
}
.coursetag_programacionvisual .btn-primary:not([disabled]):hover,
 .coursetag_programacionvisual .btn-primary:not([disabled]):focus,
  .coursetag_programacionvisual .btn-primary:not([disabled]):active,
   .coursetag_programacionvisual .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #AA6CA4;
    border-color: #AA6CA4;
}
.coursetag_programacionvisual #actividad .content .review .attemps span {
    background-color: #AA6CA4;
}
.coursetag_programacionvisual .shortanswer-container textarea:focus,
 .coursetag_programacionvisual .shortanswer-container input:focus,
  .coursetag_programacionvisual .shortanswer-container .preview:focus {
  	-webkit-box-shadow: 0 0 2px #AA6CA4;
    -moz-box-shadow: 0 0 2px #AA6CA4;
    box-shadow: 0 0 2px #AA6CA4;
    border-color: #AA6CA4;
}
.content_type_clase_cibertec_2020.coursetag_programacionvisual .slide_main input:focus {
	border-top-color: #AA6CA4;
    border-right-color: #AA6CA4;
    border-bottom-color: #AA6CA4;
    border-left-color: #AA6CA4;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px #AA6CA4;
}
.coursetag_programacionvisual .form-control:focus,
 .coursetag_programacionvisual .form-control:focus-within {
    border-top-color: #AA6CA4;
    border-right-color: #AA6CA4;
    border-bottom-color: #AA6CA4;
    border-left-color: #AA6CA4;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset, 0 0 8px #AA6CA4;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset, 0 0 8px #AA6CA4;
    box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset, 0 0 8px #AA6CA4;
}
.coursetag_programacionvisual a:hover,
 .coursetag_programacionvisual a:active,
  .coursetag_programacionvisual a:focus{
		color: #AA6CA4 ;
}
.coursetag_programacionvisual .content ol li:before,
 .coursetag_programacionvisual .cke_contents ol li:before {
 	color: #AA6CA4;
}
.coursetag_programacionvisual #actividad .info-button {
	color: #AA6CA4;
}
.coursetag_programacionvisual .info-template .info-icon {
    color: #AA6CA4;
}
.coursetag_programacionvisual .info-template .info-title {
    color: #AA6CA4;
}
.coursetag_programacionvisual .info-popover .popover-title,
 .coursetag_programacionvisual .popover-template .popover-title {
    color: #AA6CA4;
}
.coursetag_programacionvisual .bck-sub-label,
 .coursetag_programacionvisual .bck-file-label{
	color: #AA6CA4;
	border-bottom: 2px solid #AA6CA4;
}
.coursetag_programacionvisual .info-popover .popover-title:before,
 .coursetag_programacionvisual .popover-template .popover-title:before {
    color: #AA6CA4;
}
/*---*/


@media screen and (max-width: 1099px) {
    .body_clase .content-wrapper {
        max-width: 100%;
    }

    #actividad .content {
        border-radius: 0;
    }

    #actividad .carousel-inner .item-container {
        margin: 0;
        width: 100% !important;
        max-width: none;
        box-shadow: none;
    }

    .ipad #actividad .carousel-inner .item-container {
  		border-right: 1px solid #eee;
    }
}

@media screen and (max-width: 992px) {
	#actividad .class_slide {
		padding-right: 30px;
		padding-left: 30px;
	}

	.content_type_clase_cibertec_2020 #actividad .content .header {
		margin-left: -30px;
		margin-right: -30px;
		padding-left: 100px;
	}

	.content_type_clase_cibertec_2020 #actividad .content .header .title h3 {
		padding-left: 20px;
	}
	.js-slide-wrapper > .header .single-pagination {
		left: 10px;
	}
	.navigator {
		padding-left: 30px;
		padding-right: 30px;
	}
	.content_type_clase_cibertec_2020 .publish {
		padding-left: 25px;
	}
	.content_type_clase_cibertec_2020 .logo-publisher {
		margin-left: -20px;
	}
}

@media screen and (max-width: 767px) {
    #actividad .carousel-inner .class_slide {
        padding: 40px 30px 0px;
    }

    .navigator {
        padding: 0px 30px;
    }

    .bck-img.right, img[style~="float:right"] {
        max-width: 50%
    }

    .bck-img.left, img[style~="float:left"] {
        max-width: 50%
    }
	.content_type_clase_cibertec_2020 .publisher-navbar {
		top: 88px;
	}

}

@media screen and (max-width: 579px) {
	.bck-row .col-xs-1,
	.bck-row .col-xs-2,
	.bck-row .col-xs-3,
	.bck-row .col-xs-4,
	.bck-row .col-xs-5,
	.bck-row .col-xs-6,
	.bck-row .col-xs-7,
	.bck-row .col-xs-8,
	.bck-row .col-xs-9,
	.bck-row .col-xs-10,
	.bck-row .col-xs-11,
	.bck-row .col-xs-12 {
		width: 100%;
		float: none;
		padding-bottom: 20px;
	}
}

@media screen and (max-width: 480px) {

    .bck-img.right, img[style~="float:right"] {
        width: 100%;
    }

    .bck-img.left, img[style~="float:left"] {
        width: 100%;
    }

    #actividad .carousel-inner .item-container {
		padding: 40px 20px 90px;
	}
	.content_type_clase_cibertec_2020 .publisher-navbar .navbar-content {
		padding-left: 20px;
		padding-right: 20px;
	}
	.content_type_clase_cibertec_2020 .publisher-navbar .logo-publisher:before {
		content: none;
		display: none;

	}
	#actividad .carousel-inner .item-container {
		padding-top: 13px;
	}
	.content_type_clase_cibertec_2020 #actividad .content .header {
		margin-top: -50px;
		margin-left: -50px;
		margin-right: -50px;
	}
	.content_type_clase_cibertec_2020 #actividad .content .header .title h3 {
		font-size: 4.0rem;
		padding-right: 20px;
		margin-bottom: 20px;
	}
}

/* Retina images */
@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
	.content_type_clase_cibertec_2020 #actividad .content .header:before {
		background-image: url(images/trazo-2x.png);
		background-size: 938px 13px;
	}
	.bck-box.box-1:after {
		background-image: url(images/caja1-esquina-2x.png);
		background-size: 32px 35px;
	}
	.bck-box.box-2:after {
		background-image: url(images/caja2-esquina-2x.png);
		background-size: 32px 35px;
	}
	.bck-box.box-3:after {
		background-image: url(images/caja3-flecha-2x.png);
		background-size: 74px 30px;
	}
	.bck-box.box-3:before {
		background-image: url(images/exclamacion-2x.png);
		background-size: 60px 54px;
	}
}

/*BK-10860*/
/*
 * Me cargo todos los border que hay por debajo de un ejercicio de cÃ¡lculo y restauro los necesarios
 *
 */
div.calculo table.marco,
div.calculo table.marco * {
	border:none;
}

.content hr, .cke_contents hr {
    border-top: 2px solid #85b426 !important;
}

.content_type_clase_cibertec_2020 .slide_main input {
    border: 1px solid #ccc !important;
}


/*Background del titulo e hijos en modo de impresion*/
body.print-mode .title *, body.print-mode .title {
    background-color: #e94442;
}
